body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.authbg {
  padding-top: 25vh;
  padding-left: 43vw;
  background-color: #3D3D3D;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.authform,
.regform {
  margin: 0 auto;
  margin-left: -0.7em;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.logo {
  width: 250px;
}
a{
  color:#8B8B8B;
}
input {
  margin: 1em;
  margin-left: 0;
  margin-top: 0.2em;
  background-color: #333333;
  border: none;
  border-radius: 0.3em;
  width: 90%;
  height: auto;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 13pt;
  color:#fff;
}
.submitwrap
{
  margin-left: 1em;
}
button.login{
  background-color: #20B149;
  border:none;
  margin-left: 1em;
  border-radius:0.3em;
  padding: 4em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: 10pt;
  color:#fff;
  cursor: pointer;
}
button.login:hover
{
  background-color: rgb(25, 139, 58);
}
button.nextreg{
  background-color: #20B149;
  border:none;
  border-radius:0.3em;
  padding: 6.7em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: 10pt;
  color:#fff;
  cursor: pointer;
}
button.nextreg:hover
{
  background-color: rgb(25, 139, 58);
}

button.exreg{
  background-color: #20B149;
  border:none;
  border-radius:0.3em;
  padding: 2.4em;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  font-size: 10pt;
  color:#fff;
  cursor: pointer;
}
.exreg.end
{
  margin-left:1.2em;
}
button.exreg:hover
{
  background-color: rgb(25, 139, 58);
}
.regtop
{
  padding-top:1em;
  padding-bottom:1em;
  font-size:15pt;
  color:#8B8B8B;
  margin-left:-1em;
}
*:focus {
  outline: none;
}
.registerblock
{
  display:flex;
  flex-direction:row;
  flex-wrap: nowrap;
  align-items: center;
  color: #8B8B8B;
  font-size: 15pt;
  margin-left: -2.8em;
}
.registerblock img
{
  width:40px;
  padding:2em;
  padding-top:0.5em;
  padding-bottom:0.5em;
  cursor:pointer;
}
.regval
{
  height: 10px;
  width:15.5em;
  margin-left: -0.6em;
  margin-bottom: 1em;
  border-radius: 10px;
  background-color: #333333;
  overflow: hidden;
}
.regvalue
{
  position:relative;
  height:10px;
  width:30%;
  background-color: #20B149;
}